.navbar {
    display: flex;
    align-items: center;
    
}

.logo {
    height: 75px;
    width: 200px;
    margin-left: 50px;
}

.navbar a {
    margin-left: 100px;
    text-decoration: none;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(216, 154, 196);
}

.prvdel {
    display: flex;
    align-items: center;
    background-image: url(portfolionekoe.jpeg);
    justify-content: center;
    
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(58, 47, 174);
    text-align: center;
    border: 0cm;
    background-color: rgba(255, 255, 255, 0.51);
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.vtordel {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgb(212, 215, 253);
    padding: 20px;
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0cap;
    background-color: rgba(255, 255, 255, 0.154);
    padding: 10px;
    margin-left: 20px;
    font-size: large;
    color: white;
    border-radius: 20px;
}

.content22 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0cap;
    background-color: rgba(255, 255, 255, 0.154);
    padding: 10px;
    margin-left: 20px;
    font-size: large;
    color: white;
    border-radius: 20px;
}

.content23 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0cap;
    background-color: rgba(255, 255, 255, 0.154);
    padding: 10px;
    margin-left: 20px;
    font-size: large;
    color: white;
    border-radius: 20px;
}

.cake {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cake1 {
    width: 400px;
}

.cake2 {
    width: 400px;
}

.cake3 {
    width: 400px;
}

.cake4 {
    width: 400px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgb(250, 177, 205);
    margin-top: 5px;
    padding: 10px;
    
}

.footer a {
    margin-right: 100px;
    text-decoration: none;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}